# https://mojo.redhat.com/docs/DOC-953445
# Build using:
# brew image-build [--scratch] --config=rhel-7-virt-v2v-conversion-server.config

[image-build]
name = virt-v2v
version = 7.1
target = rhel-7.1-candidate
install_tree = http://download.lab.bos.redhat.com/rel-eng/RHEL-7.1-20150219.1/compose/Server/x86_64/os/
arches = x86_64
format = qcow2
disk_size = 20
distro = RHEL-7.1

repo = http://cdn.stage.redhat.com/content/dist/rhel/server/7/7.1/x86_64/os/,http://cdn.stage.redhat.com/content/dist/rhel/server/7/7Server/x86_64/openstack/6.0/os/,http://cdn.stage.redhat.com/content/dist/rhel/server/7/7Server/x86_64/v2vwin/os/,http://cdn.stage.redhat.com/content/dist/rhel/server/7/7Server/x86_64/supplementary/os/

ksversion = RHEL7
kickstart = rhel-7-virt-v2v-conversion-server.ks
