*~
*.log
*.o
*.trs
.deps
.libs
Makefile
Makefile.in

/about-authors.c
/AUTHORS
/blank-part.img
/config.c
/dependencies.archlinux
/dependencies.debian
/dependencies.redhat
/dependencies.suse
/fedora.img
/kernel-config.c
/p2v-config.h
/stamp-test-virt-p2v-pxe-data-files
/stamp-test-virt-p2v-pxe-hostkey
/stamp-test-virt-p2v-pxe-kernel
/stamp-test-virt-p2v-pxe-userkey
/stamp-virt-p2v.pod
/stamp-virt-p2v-make-disk.pod
/stamp-virt-p2v-make-kickstart.pod
/stamp-virt-p2v-make-kiwi.pod
/test-virt-p2v-pxe.authorized_keys
/test-virt-p2v-pxe.id_rsa
/test-virt-p2v-pxe.id_rsa.pub
/test-virt-p2v-pxe.img
/test-virt-p2v-pxe.initramfs
/test-virt-p2v-pxe.sshd_config
/test-virt-p2v-pxe.ssh_host_rsa_key
/test-virt-p2v-pxe.ssh_host_rsa_key.pub
/test-virt-p2v-pxe.vmlinuz
/virt-p2v
/virt-p2v.1
/virt-p2v.i686
/virt-p2v.img
/virt-p2v-kernel-config.pod
/virt-p2v-make-disk
/virt-p2v-make-disk.1
/virt-p2v-make-kickstart
/virt-p2v-make-kickstart.1
/virt-p2v-make-kiwi
/virt-p2v-make-kiwi.1
/virt-p2v.xz
