$ ./export2tar.sh /dev/mapper/Guests-RHEL53PV32 /dev/VolGroup00/LogVol00 \
    /home /tmp/home.tar.gz
$ ll /tmp/home.tar.gz 
-rw-rw-r--. 1 rjones rjones 824 2009-04-25 12:33 /tmp/home.tar.gz
$ tar ztf /tmp/home.tar.gz 
./
./rjones/
./rjones/.bash_profile
./rjones/.mozilla/
./rjones/.mozilla/extensions/
./rjones/.mozilla/plugins/
./rjones/.bash_logout
./rjones/.bashrc
./rjones/.emacs
