$ ll -h /tmp/Fedora-11-Beta-i386-netinst.iso
-r--r--r--. 1 rjones rjones 168M 2009-04-25 22:38 /tmp/Fedora-11-Beta-i386-netinst.iso
$ ./iso2tar.sh /tmp/Fedora-11-Beta-i386-netinst.iso /tmp/cd.tar.gz
$ ls -lh /tmp/cd.tar.gz
-rw-rw-r--. 1 rjones rjones 177M 2009-04-25 22:50 /tmp/cd.tar.gz
$ tar ztf /tmp/cd.tar.gz
./
./EFI/
./EFI/BOOT/
./EFI/BOOT/BOOT.conf
./EFI/BOOT/BOOTIA32.conf
./EFI/BOOT/splash.xpm.gz
./EFI/BOOT/TRANS.TBL
./images/
./images/efiboot.img
[etc]
