$ list-apps.sh win7.img
[0] = {
  app_name: Mozilla Firefox (3.6.12)
  app_display_name: Mozilla Firefox (3.6.12)
  app_epoch: 0
  app_version: 3.6.12 (en-GB)
  app_release: 
  app_install_path: C:\Program Files\Mozilla Firefox
  app_trans_path: 
  app_publisher: Mozilla
  app_url: http://www.mozilla.com/en-GB/
  app_source_package: 
  app_summary: 
  app_description: Mozilla Firefox
}
[1] = {
  app_name: VLC media player
  app_display_name: VLC media player 1.1.5
  app_epoch: 0
  app_version: 1.1.5
  app_release: 
  app_install_path: C:\Program Files\VideoLAN\VLC
  app_trans_path: 
  app_publisher: VideoLAN
  app_url: http://www.videolan.org/
  app_source_package: 
  app_summary: 
  app_description: 
}
