$ ./rpmqa.sh RHEL53PV32.img /dev/VolGroup00/LogVol00 > /tmp/rpms
$ ls -l /tmp/rpms
-rw-rw-r--. 1 rjones rjones 17228 2009-04-26 07:02 /tmp/rpms
$ head /tmp/rpms
tzdata-2008i-1.el5
nash-5.1.19.6-44
gnome-mime-data-2.4.2-3.1
dump-0.4b41-2.fc6
emacs-leim-21.4-20.el5
rootfiles-8.1-1.1.1
glibc-2.5-34
popt-1.10.2.3-9.el5
libart_lgpl-2.3.17-4
audit-libs-1.7.7-6.el5
