$ squashfs.sh
Parallel mksquashfs: Using 4 processors
Creating 4.0 filesystem on test.sqsh, block size 131072.
[===============================================================|] 752/752 100%

[...]

Filesystem            Size  Used Avail Use% Mounted on
/dev/vda1              97M  3.5M   89M   4% /sysroot/output

$ guestfish -a test1.img -m /dev/sda1 ll /
total 38
drwxr-xr-x   4 root root  1024 Dec 21 16:52 .
drwxr-xr-x  23  500  500  4096 Dec 21 16:52 ..
drwx------   2 root root 12288 Dec 21 16:52 lost+found
drwxr-xr-x.  2 root root 19456 Dec 18 07:20 man8
