*~
*.a
ABOUT-NLS
aclocal.m4
align/stamp-virt-alignment-scan.pod
align/virt-alignment-scan
align/virt-alignment-scan.1
appliance/excludelist
appliance/make.sh
appliance/packagelist
appliance/stamp-supermin
appliance/supermin.d
autom4te.cache
*.bak
bindtests.tmp
/build-aux
cat/stamp-virt-*.pod
cat/virt-cat
cat/virt-cat.1
cat/virt-filesystems
cat/virt-filesystems.1
cat/virt-ls
cat/virt-ls.1
ChangeLog
*.class
clone/stamp-virt-sysprep.pod
clone/virt-sysprep
clone/virt-sysprep.1
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cscope.out
csharp/Libguestfs.cs
daemon/actions.h
daemon/errnostring.c
daemon/errnostring_gperf.c
daemon/errnostring_gperf.gperf
daemon/errnostring.h
daemon/guestfsd
daemon/guestfsd.exe
daemon/guestfs_protocol.c
daemon/guestfs_protocol.h
daemon/install-sh
daemon/missing
daemon/names.c
daemon/optgroups.c
daemon/optgroups.h
daemon/stubs.c
depcomp
.deps
df/stamp-virt-df.pod
df/virt-df
df/virt-df.1
*.diff
edit/stamp-virt-*.pod
edit/virt-edit
edit/virt-edit.1
*.eml
emptydisk
erlang/erl-guestfs
erlang/erl-guestfs.c
erlang/examples/guestfs-erlang.3
erlang/examples/stamp-guestfs-erlang.pod
erlang/guestfs.beam
erlang/guestfs.erl
examples/create_disk
examples/guestfs-examples.3
examples/guestfs-recipes.1
examples/guestfs-testing.1
examples/inspect_vm
examples/stamp-guestfs-examples.pod
examples/stamp-guestfs-recipes.pod
examples/stamp-guestfs-testing.pod
examples/virt-dhcp-address
fish/cmds.c
fish/cmds_gperf.c
fish/cmds_gperf.gperf
fish/completion.c
fish/event-names.c
fish/fish-cmds.h
fish/guestfish
fish/guestfish.1
fish/guestfish-actions.pod
fish/guestfish-commands.pod
fish/prepopts.c
fish/prepopts.h
fish/rc_protocol.c
fish/rc_protocol.h
fish/stamp-guestfish.pod
fish/stamp-virt-copy-in.pod
fish/stamp-virt-copy-out.pod
fish/stamp-virt-tar-in.pod
fish/stamp-virt-tar-out.pod
fish/virt-copy-in.1
fish/virt-copy-out.1
fish/virt-tar-in.1
fish/virt-tar-out.1
format/stamp-virt-format.pod
format/virt-format
format/virt-format.1
fuse/guestmount
fuse/guestmount.1
fuse/stamp-guestmount.pod
generator/.depend
generator/files-generated.txt
generator/generator
generator/.pod2text.data*
generator/stamp-generator
.gitattributes
.git-module-status
/gnulib
/GNUmakefile
gobject/bindtests.js
gobject/Guestfs-1.0.gir
gobject/Guestfs-1.0.typelib
gobject/guestfs-gobject.c
gobject/guestfs-gobject.h
.guestfs-*
/guestfs.*
guestfsd-in-wine.log
haskell/Bindtests
haskell/Bindtests.hs
haskell/Guestfs005Load
haskell/Guestfs010Basic
haskell/Guestfs.hs
*.hi
html/guestfish.1.html
html/guestfs.3.html
html/guestfs-erlang.3.html
html/guestfs-examples.3.html
html/guestfs-java.3.html
html/guestfs-ocaml.3.html
html/guestfs-perl.3.html
html/guestfs-python.3.html
html/guestfs-recipes.1.html
html/guestfs-ruby.3.html
html/guestfs-testing.1.html
html/guestmount.1.html
html/virt-alignment-scan.1.html
html/virt-cat.1.html
html/virt-copy-in.1.html
html/virt-copy-out.1.html
html/virt-df.1.html
html/virt-edit.1.html
html/virt-filesystems.1.html
html/virt-format.1.html
html/virt-inspector.1.html
html/virt-list-filesystems.1.html
html/virt-list-partitions.1.html
html/virt-ls.1.html
html/virt-make-fs.1.html
html/virt-rescue.1.html
html/virt-resize.1.html
html/virt-sparsify.1.html
html/virt-sysprep.1.html
html/virt-tar.1.html
html/virt-tar-in.1.html
html/virt-tar-out.1.html
html/virt-win-reg.1.html
inspector/stamp-virt-inspector.pod
inspector/virt-inspector
inspector/virt-inspector.1
install-sh
*.jar
java/api
java/Bindtests.java
java/com_redhat_et_libguestfs_GuestFS.c
java/com_redhat_et_libguestfs_GuestFS.h
java/com/redhat/et/libguestfs/GuestFS.java
java/doc-stamp
java/examples/guestfs-java.3
java/examples/stamp-guestfs-java.pod
*.la
libguestfs.pc
libguestfs.spec
libguestfs-*.tar.gz
.libs
libtool
*.lo
/local*
ltmain.sh
m4/gnulib-cache.m4
m4/intmax.m4
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
/maint.mk
Makefile
Makefile.in
missing
*.o
ocaml/bindtests.bc
ocaml/bindtests.opt
ocaml/bindtests.ml
ocaml/.depend
ocaml/dllmlguestfs.so
ocaml/examples/create_disk
ocaml/examples/guestfs-ocaml.3
ocaml/examples/inspect_vm
ocaml/examples/stamp-guestfs-ocaml.pod
ocaml/guestfs_c_actions.c
ocaml/guestfs_inspector.ml
ocaml/guestfs_inspector.mli
ocaml/guestfs.ml
ocaml/guestfs.mli
ocamlinit-stamp
ocaml/META
ocaml/t/guestfs_005_load.bc
ocaml/t/guestfs_005_load.opt
ocaml/t/guestfs_010_basic.bc
ocaml/t/guestfs_010_basic.opt
ocaml/t/guestfs_070_threads.bc
ocaml/t/guestfs_070_threads.opt
ocaml/t/guestfs_080_optargs.bc
ocaml/t/guestfs_080_optargs.opt
ocaml/t/guestfs_400_events.bc
ocaml/t/guestfs_400_events.opt
ocaml/t/guestfs_400_progress.bc
ocaml/t/guestfs_400_progress.opt
*.orig
*.patch
perl/bindtests.pl
perl/blib
perl/examples/guestfs-perl.3
perl/examples/stamp-guestfs-perl.pod
perl/Guestfs.bs
perl/Guestfs.c
perl/Guestfs.xs
perl/lib/Sys/Guestfs.pm
perl/Makefile-pl
perl/Makefile.PL
perl/Makefile-pl.old
perl/MYMETA.json
perl/MYMETA.yml
perl/pm_to_blib
php/extension/acinclude.m4
php/extension/build/
php/extension/config.nice
php/extension/configure.in
php/extension/guestfs_php.c
php/extension/guestfs_php_*.diff
php/extension/guestfs_php_*.exp
php/extension/guestfs_php_*.log
php/extension/guestfs_php_*.out
php/extension/guestfs_php_*.php
php/extension/guestfs_php_*.sh
php/extension/Makefile.fragments
php/extension/Makefile.global
php/extension/Makefile.objects
php/extension/mkinstalldirs
php/extension/modules/
php/extension/php_guestfs_php.h
php/extension/run-tests.php
php/extension/tmp-php.ini
po/boldquot.sed
pod2htm?.tmp
po-docs/*/*.1
po-docs/*/*.3
po-docs/*/*.pl
po-docs/po4a.conf
po-docs/*/*.pod
podwrapper.sh
po/en@boldquot.header
po/en@quot.header
po/*.gmo
po/insert-header.sin
po/LINGUAS
po/Makevars.template
po/POTFILES
po/quot.sed
po/remove-potcdate.sed
po/Rules-quot
po/stamp-it
po/stamp-po
python/bindtests.py
python/examples/guestfs-python.3
python/examples/stamp-guestfs-python.pod
python/guestfs.py
python/guestfs-py.c
python/guestfs.pyc
python/guestfs.pyo
python/__pycache__
*.rej
rescue/stamp-virt-rescue.pod
rescue/virt-rescue
rescue/virt-rescue.1
resize/.depend
resize/stamp-virt-resize.pod
resize/utils_tests
resize/virt-resize
resize/virt-resize.1
ruby/bindtests.rb
ruby/doc/site/api
ruby/examples/guestfs-ruby.3
ruby/examples/stamp-guestfs-ruby.pod
ruby/ext/guestfs/extconf.h
ruby/ext/guestfs/_guestfs.bundle
ruby/ext/guestfs/_guestfs.c
ruby/ext/guestfs/_guestfs.so
ruby/ext/guestfs/mkmf.log
ruby/Rakefile
run
sparsify/.depend
sparsify/stamp-virt-sparsify.pod
sparsify/virt-sparsify
sparsify/virt-sparsify.1
src/actions.c
src/bindtests.c
src/errnostring.c
src/errnostring_gperf.c
src/errnostring_gperf.gperf
src/errnostring.h
src/guestfs.3
src/guestfs-actions.pod
src/guestfs-availability.pod
src/guestfs.h
src/guestfs-internal-actions.h
src/guestfs_protocol.c
src/guestfs_protocol.h
src/guestfs_protocol.x
src/guestfs-structs.pod
src/libguestfs.syms
src/.libs/libguestfs.so
src/stamp-guestfs.pod
stamp-h1
*.swp
test1.img
test2.img
test.err
test.out
tests/c-api/test-add-drive-opts
tests/c-api/test-add-libvirt-dom
tests/c-api/test-command
tests/c-api/test-config
tests/c-api/test-create-handle
tests/c-api/test-debug-to-file
tests/c-api/test*.img
tests/c-api/test-just-header
tests/c-api/test-last-errno
tests/c-api/test.log
tests/c-api/test-private-data
tests/c-api/tests
tests/c-api/tests.c
tests/c-api/test*.tmp
tests/c-api/test-user-cancel
tests/data/100kallnewlines
tests/data/100kallspaces
tests/data/100kallzeroes
tests/data/100krandom
tests/data/10klines
tests/data/abssymlink
tests/data/hello.b64
tests/data/initrd
tests/data/initrd-x86_64.img
tests/data/initrd-x86_64.img.gz
tests/data/test-grep.txt.gz
tests/data/test.iso
tests/extra/valgrind.log
tests/guests/debian.img
tests/guests/fedora.img
tests/guests/fedora-md1.img
tests/guests/fedora-md2.img
tests/guests/guest-aux/fedora-name.db
tests/guests/guest-aux/fedora-packages.db
tests/guests/stamp-fedora-md.img
tests/guests/ubuntu.img
tests/guests/windows.img
tests/regressions/rhbz501893
tests/regressions/rhbz790721
test-tool/libguestfs-test-tool
test-tool/libguestfs-test-tool.1
test-tool/libguestfs-test-tool-helper
tools/test.img
tools/virt-*.1
tools/virt-*.pl
/valgrind.log.*
