build-aux
lib
link-warning.h
m4/00gnulib.m4
m4/alloca.m4
m4/canonicalize-lgpl.m4
m4/chdir-long.m4
m4/chown.m4
m4/close.m4
m4/d-ino.m4
m4/dirent_h.m4
m4/dirfd.m4
m4/dirname.m4
m4/dos.m4
m4/double-slash-root.m4
m4/dup2.m4
m4/eealloc.m4
m4/errno_h.m4
m4/error.m4
m4/exitfail.m4
m4/extensions.m4
m4/fchdir.m4
m4/fclose.m4
m4/fcntl-safer.m4
m4/fcntl_h.m4
m4/getcwd-abort-bug.m4
m4/getcwd-path-max.m4
m4/getcwd.m4
m4/getpagesize.m4
m4/gnulib-common.m4
m4/gnulib-comp.m4
m4/gnulib-tool.m4
m4/hash.m4
m4/include_next.m4
m4/inline.m4
m4/inttostr.m4
m4/lchown.m4
m4/longlong.m4
m4/lstat.m4
m4/malloc.m4
m4/malloca.m4
m4/manywarnings.m4
m4/memchr.m4
m4/mempcpy.m4
m4/memrchr.m4
m4/mmap-anon.m4
m4/mode_t.m4
m4/multiarch.m4
m4/onceonly.m4
m4/open.m4
m4/openat.m4
m4/pathmax.m4
m4/readlink.m4
m4/save-cwd.m4
m4/stdbool.m4
m4/stddef_h.m4
m4/stdint.m4
m4/stdio_h.m4
m4/stdlib_h.m4
m4/strerror.m4
m4/string_h.m4
m4/strndup.m4
m4/strnlen.m4
m4/sys_stat_h.m4
m4/unistd-safer.m4
m4/unistd_h.m4
m4/warnings.m4
m4/wchar.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xalloc.m4
m4/xgetcwd.m4
m4/xstrndup.m4
mingw32-config.cache
tests
