*.debhelper
*.debhelper.log
*.substvars
changelog
files
guestfish/
guestmount/
libguestfs-dev/
libguestfs-doc/
libguestfs-perl/
libguestfs-tools/
libguestfs0-dbg/
libguestfs0/
python-guestfs/
python-module-stampdir/
stamp-makefile-install
stamp-autotools
stamp-autotools-files
stamp-makefile-build
stamp-patched
tmp/