Source: libguestfs
Section: libs
Priority: extra
Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Uploaders: Richard Jones <rjones@redhat.com>, Guido Günther <agx@sigxcpu.org>
Build-Depends: debhelper (>= 7), dpkg-dev, devscripts, autotools-dev,
  febootstrap (>= 3.2),
  libreadline-dev, cdbs, libaugeas-dev, libhivex-dev, libvirt-dev,
  libmagic-dev, libncurses5-dev, libpcre3-dev, libxml2-dev,
  gperf,
# XXX libconfig-dev, but it is not in Debian
  qemu-system (>= 0.13) | kvm (>= 0.13) | qemu-kvm (>= 0.13) | qemu (>= 0.13),
# XXX how to say we need Linux >= 2.6.36?
  genisoimage, pkg-config,
# when building from git:
  automake, autoconf, libtool, ocaml, ocaml-findlib,
# for python bindings:
  python-all-dev, python-support,
# for the perl bindings:
  libtest-pod-coverage-perl, libextutils-command-perl,
  libintl-perl, libtest-pod-perl,
  libstring-shellquote-perl,
# for Perl virt tools
  libsys-virt-perl, libwin-hivex-perl,
# FUSE
  libfuse-dev, fuse-utils,
# virt-resize
  libpcre-ocaml-dev,
# Debian OCaml
  dh-ocaml,
# to create images in the test suite
  db4.8-util
Homepage: http://libguestfs.org
Standards-Version: 3.8.2

Package: libguestfs0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  febootstrap (>= 3.2),
# These are needed for virtio-serial:
  qemu-system (>= 0.13) | kvm (>= 0.13) | qemu-kvm (>= 0.13) | qemu (>= 0.13),
# XXX how to say we need Linux >= 2.6.36?
# For the supermin appliance (see appliance/packagelist):
  bsdmainutils,
  btrfs-tools,
  cryptsetup,
  diff,
# gfs-tools,
# gfs2-tools,
  grub-pc,
# hfsplus,
  iproute,
  libaugeas0,
# nilfs2-tools,
  ntfs-3g,
  ntfsprogs,
  reiserfsprogs,
  udev,
  vim-tiny,
  xz-utils,
  zfs-fuse,
  binutils,
  cpio,
  dosfstools,
  file,
  jfsutils,
  lsof,
  lvm2,
  module-init-tools,
  net-tools,
  parted,
  procps,
  scrub,
  strace,
  xfsprogs,
  zerofree
Description: library for accessing and modifying guest disk images
 libguestfs is a library for accessing and modifying guest disk images. Amongst
 the things this is good for: making batch configuration changes to guests,
 viewing and editing files inside guests, getting disk used/free statistics,
 migrating between virtualization systems, performing partial backups,
 performing partial guest clones, cloning guests and changing
 registry/UUID/hostname info, and much else besides.
 .
 It uses Linux kernel and qemu code, and can access any type of guest
 filesystem that Linux and qemu can, including but not limited to: ext2/3/4,
 btrfs, FAT and NTFS, LVM, many different disk partition schemes, qcow, qcow2,
 vmdk.
 .
 libguestfs provides ways to enumerate guest storage (eg. partitions, LVs, what
 filesystem is in each LV, etc.). It can also run commands in the context of 
 the guest. Also you can upload and download files and directories.

Package: guestfish
Section: devel
Architecture: any
Depends: libguestfs0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: libguestfs filesystem interactive shell
 Guestfish is a shell and command-line tool for examining and modifying
 virtual machine filesystems.  It uses libguestfs and exposes all of the
 functionality of the guestfs API, see guestfs(3).

Package: guestfsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
  bsdmainutils, diff, grub-pc, iproute,
  libaugeas0, udev, binutils, cpio, dosfstools,
  file, lsof, module-init-tools, net-tools, parted,
  procps, scrub, strace, zerofree
Description: Daemon to access to guest virtual machine through virtio serial
 Daemon to access to guest virtual machine through virtio serial

Package: guestmount
Section: devel
Architecture: any
Depends: libguestfs0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: mount guest filesystem using libguestfs and FUSE
 The guestmount program can be used to mount virtual machine filesystems
 and other disk images on the host.  It uses libguestfs for access to
 the guest filesystem, and FUSE (the "filesystem in userspace") to make
 it appear as a mountable device.

Package: libguestfs-tools
Section: devel
Architecture: any
Depends: libguestfs0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends},
 libsys-virt-perl, libguestfs-perl (= ${binary:Version})
Description: libguestfs virt tools
 This package contains virt tools including virt-cat, virt-df, virt-edit,
 virt-filesystems, virt-inspector, virt-ls, virt-make-fs, virt-rescue,
 virt-resize, virt-tar and virt-win-reg.

Package: libguestfs-dev
Section: libdevel
Architecture: any
Depends: libguestfs0 (= ${binary:Version}), ${misc:Depends}
Description: library for accessing and modifying guest disk images
 libguestfs is a library for accessing and modifying guest disk images. Amongst
 the things this is good for: making batch configuration changes to guests,
 viewing and editing files inside guests, getting disk used/free statistics,
 migrating between virtualization systems, performing partial backups,
 performing partial guest clones, cloning guests and changing
 registry/UUID/hostname info, and much else besides.
 .
 It uses Linux kernel and qemu code, and can access any type of guest
 filesystem that Linux and qemu can, including but not limited to: ext2/3/4,
 btrfs, FAT and NTFS, LVM, many different disk partition schemes, qcow, qcow2,
 vmdk.
 .
 libguestfs provides ways to enumerate guest storage (eg. partitions, LVs, what
 filesystem is in each LV, etc.). It can also run commands in the context of 
 the guest. Also you can upload and download files and directories.
 .
 This package contains the development headers.

Package: libguestfs0-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libguestfs0 (= ${binary:Version})
Description: library for accessing and modifying guest disk images
 libguestfs is a library for accessing and modifying guest disk images. Amongst
 the things this is good for: making batch configuration changes to guests,
 viewing and editing files inside guests, getting disk used/free statistics,
 migrating between virtualization systems, performing partial backups,
 performing partial guest clones, cloning guests and changing
 registry/UUID/hostname info, and much else besides.
 .
 It uses Linux kernel and qemu code, and can access any type of guest
 filesystem that Linux and qemu can, including but not limited to: ext2/3/4,
 btrfs, FAT and NTFS, LVM, many different disk partition schemes, qcow, qcow2,
 vmdk.
 .
 libguestfs provides ways to enumerate guest storage (eg. partitions, LVs, what
 filesystem is in each LV, etc.). It can also run commands in the context of 
 the guest. Also you can upload and download files and directories.
 .
 This package contains the debugging symbols.

Package: libguestfs-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for accessing and modifying guest disk images
 libguestfs is a library for accessing and modifying guest disk images. Amongst
 the things this is good for: making batch configuration changes to guests,
 viewing and editing files inside guests, getting disk used/free statistics,
 migrating between virtualization systems, performing partial backups,
 performing partial guest clones, cloning guests and changing
 registry/UUID/hostname info, and much else besides.
 .
 It uses Linux kernel and qemu code, and can access any type of guest
 filesystem that Linux and qemu can, including but not limited to: ext2/3/4,
 btrfs, FAT and NTFS, LVM, many different disk partition schemes, qcow, qcow2,
 vmdk.
 .
 libguestfs provides ways to enumerate guest storage (eg. partitions, LVs, what
 filesystem is in each LV, etc.). It can also run commands in the context of 
 the guest. Also you can upload and download files and directories.
 .
 This package contains the documentation.

Package: python-guestfs
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libguestfs0 (= ${binary:Version})
Provides: python-libguestfs
Conflicts: python-libguestfs
Description: library for accessing and modifying guest disk images
 libguestfs is a library for accessing and modifying guest disk images. Amongst
 the things this is good for: making batch configuration changes to guests,
 viewing and editing files inside guests, getting disk used/free statistics,
 migrating between virtualization systems, performing partial backups,
 performing partial guest clones, cloning guests and changing
 registry/UUID/hostname info, and much else besides.
 .
 It uses Linux kernel and qemu code, and can access any type of guest
 filesystem that Linux and qemu can, including but not limited to: ext2/3/4,
 btrfs, FAT and NTFS, LVM, many different disk partition schemes, qcow, qcow2,
 vmdk.
 .
 libguestfs provides ways to enumerate guest storage (eg. partitions, LVs, what
 filesystem is in each LV, etc.). It can also run commands in the context of 
 the guest. Also you can upload and download files and directories.
 .
 This package contains the Python bindings.
 
Package: libguestfs-perl
Section: perl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libguestfs0 (= ${binary:Version}),
 ${perl:Depends}
Description: library for accessing and modifying guest disk images
 libguestfs is a library for accessing and modifying guest disk images. Amongst
 the things this is good for: making batch configuration changes to guests,
 viewing and editing files inside guests, getting disk used/free statistics,
 migrating between virtualization systems, performing partial backups,
 performing partial guest clones, cloning guests and changing
 registry/UUID/hostname info, and much else besides.
 .
 It uses Linux kernel and qemu code, and can access any type of guest
 filesystem that Linux and qemu can, including but not limited to: ext2/3/4,
 btrfs, FAT and NTFS, LVM, many different disk partition schemes, qcow, qcow2,
 vmdk.
 .
 libguestfs provides ways to enumerate guest storage (eg. partitions, LVs, what
 filesystem is in each LV, etc.). It can also run commands in the context of 
 the guest. Also you can upload and download files and directories.
 .
 This package contains the Perl bindings.

Package: libguestfs-ocaml
Architecture: any
Depends: ${ocaml:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${ocaml:Provides}
Description: library for accessing and modifying guest disk images
 libguestfs is a library for accessing and modifying guest disk images. Amongst
 the things this is good for: making batch configuration changes to guests,
 viewing and editing files inside guests, getting disk used/free statistics,
 migrating between virtualization systems, performing partial backups,
 performing partial guest clones, cloning guests and changing
 registry/UUID/hostname info, and much else besides.
 .
 It uses Linux kernel and qemu code, and can access any type of guest
 filesystem that Linux and qemu can, including but not limited to: ext2/3/4,
 btrfs, FAT and NTFS, LVM, many different disk partition schemes, qcow, qcow2,
 vmdk.
 .
 libguestfs provides ways to enumerate guest storage (eg. partitions, LVs, what
 filesystem is in each LV, etc.). It can also run commands in the context of 
 the guest. Also you can upload and download files and directories.
 .
 This package contains the OCaml bindings (runtime).

Package: libguestfs-ocaml-dev
Architecture: any
Depends: libguestfs-ocaml, libguestfs-dev, ocaml-findlib,
 ${ocaml:Depends},
 ${misc:Depends}
Provides: ${ocaml:Provides}
Description: library for accessing and modifying guest disk images
 libguestfs is a library for accessing and modifying guest disk images. Amongst
 the things this is good for: making batch configuration changes to guests,
 viewing and editing files inside guests, getting disk used/free statistics,
 migrating between virtualization systems, performing partial backups,
 performing partial guest clones, cloning guests and changing
 registry/UUID/hostname info, and much else besides.
 .
 It uses Linux kernel and qemu code, and can access any type of guest
 filesystem that Linux and qemu can, including but not limited to: ext2/3/4,
 btrfs, FAT and NTFS, LVM, many different disk partition schemes, qcow, qcow2,
 vmdk.
 .
 libguestfs provides ways to enumerate guest storage (eg. partitions, LVs, what
 filesystem is in each LV, etc.). It can also run commands in the context of 
 the guest. Also you can upload and download files and directories.
 .
 This package contains the OCaml bindings.
