#!/usr/bin/make -f

export DH_VERBOSE=1

DEB_PYTHON_SYSTEM=pysupport
DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DEB_VENDOR=$(shell dpkg-vendor --query vendor)

# Comment this to enable 'make check'
DEB_BUILD_OPTIONS=nocheck

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/ocaml.mk

DEB_CONFIGURE_EXTRA_FLAGS := \
	--with-java-home=no \
	--disable-ruby \
	--disable-haskell \
	--disable-php \
	--with-readline \
	--enable-install-daemon \
	--with-python-installdir=/usr/share/pyshared

DEB_DBG_PACKAGES = libguestfs0-dbg
DEB_PYTHON_SETUP_CMD := /dev/null
#DEB_DH_MAKESHLIBS_ARGS_python-guestfs = -X usr/lib/pyshared

ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
debian/check-stamp:
	for TEST in ${DEBIAN_SKIP_TEST}; do \
	    export $$TEST=1; \
	done; \
	make check
	touch debian/check-stamp

build/guestfish:: debian/check-stamp
endif

#install/python-guestfs::
#	rm -f debian/tmp/usr/lib/python*/*/libguestfsmod.so
#	for mod in debian/tmp/usr/lib/python*/*/libguestfsmod.so.0.0.0; do \
#		mv $${mod} $$(dirname $${mod})/libguestfsmod.so; \
#	done

clean::
	rm -rf perl/blib/ perl/*.o
	rm -f src/.pod2text.data
	rm -f debian/check-stamp
